
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');
.head{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.banner-title{
    font-family: Work Sans;
    font-size: 45px;
}

.start{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
}

.start-logo{
    display: flex;
    gap: 5px;

}
.banner-logo{
    width: 86px;
    height:40px;
    padding-top: 40px;
    padding-left: 100px;
}
.g{
    color: #FF42A5;
}
.starter{
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 14px;
    display: flex;
    gap: 20px;
    padding-top: 38px;
    padding-right: 100px;
}
.btn-primary{
    width: 162px;
    height: 46px;
    border: none;
    font-family: Work Sans;
    font-weight: 300;
    font-size: 14px;
    margin-top: 5px;
    border-radius: 5px;
    background: rgba(11, 2, 35, 0.10);
}
.btn-text{
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 300;
}

.play{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 0px;
}
.color-part{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}
.text-title{
    color: #534C64;
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 300;
    padding-left: 5px;
    padding-bottom: 10px;
}
.text-part{
    width: auto;
}
.first-part{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.btn-one{
    border: none;
    border-radius: 38px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 16px 32px;
    gap: 10px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    text-transform: uppercase;
}
.group-img{
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
}