
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');
.head{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    width: auto;
}
.banner-title{
    font-family: Work Sans;
    font-size: 45px;
}

.start{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
}

.start-logo{
    display: flex;
    gap: 5px;

}
.banner-logo{
    width: 86px;
    height:40px;
    padding-top: 40px;
    padding-left: 100px;
}
.g{
    color: #FF42A5;
}
.starter{
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    gap:20px;
    padding-top: 38px;
    padding-right: 100px;;
}
.btn-primary{
    width: 162px;
    height: 46px;
    border: none;
    font-family: Work Sans;
    font-weight: 300;
    font-size: 14px;
    margin-top: 5px;
    border-radius: 5px;
    background: rgba(11, 2, 35, 0.10);
}
.btn-text{
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 300;
}

.play{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 0px;
}
.color-part{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}
.text-title{
    color: #534C64;
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 300;
    margin-top: -20px;
    padding-left: 5px;
    padding-bottom: 10px;
}
.text-part{
    width: auto;
}
.first-part{
    display: flex;
    align-items: center;
    background: #FFF;
    justify-content: space-around;
}

.btn-one{
    border: none;
    border-radius: 38px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 16px 32px;
    gap: 20px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    text-transform: uppercase;
}
.btn-part{
    display: flex;
    gap: 25px;
}
.btn-two{
    border: none;
    border-radius: 48px;
    background: #4EC5F7;
    padding: 16px 32px;
    gap: 20px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    text-transform: uppercase;
}

.group-img{
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
}

.second-part-name{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
}
.new-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
}

.second-text{
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 10px;
    padding-top: 20px;
    padding-bottom: 40px;
}
.img-container{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.img-one{
    display: grid;
}
.img-one-name{
    color: #534C64;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-break: auto;
}
.img-two{
    display: grid;
}
.img-two-name{
    color: #534C64;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
}
.img-three{
    display: grid;
}
.img-three-name{
    color: #534C64;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
}


.img-four{
    display: grid;
}
.img-four-name{
    color: #534C64;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
}
.play-name{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.third-part{
    display: flex;
    align-items: center;
    padding-left: 100px;
    padding-right: 150px;
}
.part-three-title{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
}
.biggest-img{
    width: 80%;
    position:relative;
    top: 3rem;
    left: 7rem;
}
.big-img{
    width: 40%;
    position: relative;
    top: -90px;
}
.part-three-text{
    color: #534C64;
    text-align: left;
    font-family: Work Sans;
    font-size: 16px;
    width: 300px;
    padding-top: 20px;
}
.game-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-bottom: 20px;
}
.game-container div{
    border: 2px solid red;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding-left: 20px;
    padding-right: 20px;
}
.game-container img{
    width: 30px;
}
.game-container span{
    color:#0B0223;
    font-size: 16px;
    font-weight: 600;
    line-height: 3rem;
}

footer{
    background: #0B0223;
    align-items: center;
}
.last{
    display: flex;
    justify-content:center;
    padding-top: 80px;
}
.last-logo{
    width: 86px;
    height:40px;
    padding-top: 40px;
    padding-left: 10px;
}
.footer-title{
    display: flex;
    color: #FFF;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}
.last-list{
    display: flex;
    color: #FFF;
    font-family: Work sans;
    font-size: 14px;
    justify-content: center;
    gap: 40px;
}
.foot-icons{
    font: 3.5rem;
    text-align: center;
    margin: 3rem 0;
    gap:3rem;
}
.foot-icons i {
    gap: 3rem;
}
.policy-text,
footer > p {
  margin: 3rem;
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 14px;
  font-family: Work sans;
  font-weight: 500;
  list-style-type: none;
  padding-bottom: 20px;
}
.policy-text li {
  margin-right: 3rem;
}

@media screen and (max-width: 576px) {
    .start{
        flex-direction: column;
    }
    .star-logo{
        flex-direction: column;
    }
    .starter{
        flex-direction: column;
    }
    .play{
        flex-direction: column;
    }

    .first-part{
        flex-direction: column;
    }
    .third-part{
        flex-direction: column;

    }
    .part-three-img{
        flex-direction: column;
    }
    .img-container{
        flex-direction: column;
        padding-left: 100px;
    }
    
    .last-list{
        flex-direction: column;
        padding-left: 50px;
    }
}

@media screen and (min-width: 576px) and (max-width: 960px){
    .start{
        flex-direction: column;
    }
    .star-logo{
        flex-direction: column;
    }
    .starter{
        flex-direction: column;
    }
    .play{
        flex-direction: column;
    }

    .first-part{
        flex-direction: column;
    }
    .third-part{
        flex-direction: column;

    }
    .part-three-img{
        flex-direction: column;
    }
    .img-container{
        flex-direction: column;
        padding-left: 100px;
    }
    .last-list{
        flex-direction: column;
        padding-left: 50px;
    }
}